<%= form_with(url:document_item_create_path(@document), local: true) do |form| %>
 
 <div class="row">
    <div class="field">
      <%= form.label :質問内容 %>
      <%= form.text_area :content, id: :document_item_content,rows:5,class:"form-control" %>
    </div>

    <div class="actions">
      <%= form.submit "送信",class:"btn btn-primary" %>
   </div>
</div>  
<% end %>
