<% if flash[:danger].present? %>
 <div class="alert alert-danger"><%= flash[:danger] %></div>
<% end %>
<h1>質問の作成</h1>
<hr>
<h2><%= "タイトル:#{@document.title}" %>
<%= render 'form', document_item: @document_item %>

<style>
  body{ background-color:#00FF00;}
</style>