<% if flash[:danger].present? %>
  <div class="alert alert-danger"><%= flash[:danger] %></div>
<% end %>
<h1>質問の作成</h1>
<hr>
<h2><%= "タイトル:#{@document.title}" %>
<%= render 'form2', document_item: @document_item %>

<%= link_to "終了", root_path,class:"btn btn-default" %>
