
<div class="text-center text-primary">
  <h1>表示ダウンロード式</h1>
  <hr>
  <h1><%= @document.title %></h1>
</div>
<div class="row">
  <div class="col-md-12">
   <iframe src="<%= @document.pdf_link %>" width="100%" height="600"></iframe>
  </div>
</div>

<style>
  body{background-color:#FFE4C4;}
</style>