
<div class="text-center text-primary">
  <h1>表示ダウンロード式</h1>
  <hr>
  <h1><%= @document.title %></h1>
</div>
<div class="row">
  <div class="col-md-12">
   <iframe src="<%= @document.pdf_link %>" width="100%" height="600"></iframe>
  </div>
</div><br>
<div style="border-top:1px dotted black"></div>
<a href="<%= @document.pdf_link %>" download="a.pdf">download</a> 
<style>
  body{background-color:#FFE4C4;}
</style>