<h1>新規書類作成(選択)</h1>
<%= provide(:url,documents_path) %>

<%= render 'form', document: @document %>

<%= link_to '戻る', documents_path,class:"btn btn-default" %>
<style>
  body{ background-color:#00FF00;}
</style>
<script>
 var flg = 1;
 $(function(){
    // 自身のページを履歴に追加
    history.pushState(null, null, null);
    // ページ戻り時にも自身のページを履歴に追加
    $(window).on("popstate", function(){
        history.pushState(null, null, null);
    });
      $(window).on("beforeunload",function(e){
    if(flg) return "本当に離れますか？";
  });
$('#form_id').submit(function(){
  flg = 0;
});

});

</script>