<h1>新規書類作成(表示式)</h1>
<%= provide(:url,document_create3_path) %>
<%= render 'form', document: @document %>

<%= link_to '戻る', documents_path,class:"btn btn-default" %>


<style>
body{
    background-color:#3366CC;
    color:"#fff";
}
</style>